# Dossiers générés
framework/build/
test2/build/

# Fichiers compilés Java
*.class
Todo.md
base.sql
sujt.md
toDo.md

# Archives générées
*.war

# JAR généré par ton framework
framework/URLframework.jar

# Fichiers IDE
.idea/
.vscode/
*.iml
